@import '../../global-files/global.scss';
$font-family: 'MedievalSharp';
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(140, 94, 184);
$hover-color: #e5c50e;
$active-color: darkgoldenrod;
$border-color: black;
$border-radius: 50px;
$transition-duration: 0.3s;

body {
    height: 100%;
    width: auto;
}

.main-container {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
    width: auto;
    min-height: 100vh;
}

#games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    height: 80%;
}

#btn-container {
    display: flex;
    justify-content: center;
    padding: 16px;
}

a {
    margin: 0 8px;
    border-radius: 30px;
}

app-admin-item {
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }
}
