.tile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.previsualize {
    background-color: rgba(153, 184, 17, 0.725);
}

.shortestPath {
    background-color: rgba(246, 18, 15, 0.725);
}

.transparent {
    position: absolute;
    top: 15%;
    left: 15%;
    opacity: 0.9;
    max-width: 70%;
    max-height: 70%;
}

#white {
    position: absolute;
}
