mat-grid-tile {
    background: lightblue;
}
mat-grid-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app-map {
    height: 100%;
    width: 100%;
    border: 10px solid rgb(60, 81, 5);
    border-radius: 2px;
}
