// Variables
$font-family: 'MedievalSharp';
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(140, 94, 184);
$hover-color: #e5c50e;
$active-color: darkgoldenrod;
$border-color: black;
$border-radius: 50px;
$transition-duration: 0.3s;

// Global Import
@import '../../global-files/global.scss';

// Background
#background-full {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

// Typography
h4,
p,
button {
    font-family: $font-family;
}

h4 {
    margin-top: 0.5em;
}

p {
    width: 18vw;
}

// Animations
@keyframes wiggle {
    0%,
    100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

img {
    animation: scaleLogo 0.5s infinite alternate;

    &:active {
        animation: crazySpin 0.5s linear infinite;
    }

    @keyframes crazySpin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@keyframes scaleLogo {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.7);
    }
}

// Layout
team-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#btn-container {
    color: antiquewhite;
    display: flex;
    padding: 20px 20px 0 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
