<div id="background-full">
    <div id="main-container">
        <div id="img-container">
            <img src="./assets/logo.png" alt="NG-BATTLE LOGO" class="logo-ng-battle" />
        </div>
        <div id="btn-container">
            <button class="button-style" [routerLink]="['/joinRoom']">Joindre une partie</button>
            <button class="button-style" [routerLink]="['/gameSelection']">Créer une Partie</button>
            <button class="button-style" [routerLink]="['/admin']">Administrer les jeux</button>
        </div>
    </div>
</div>
