@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

$font-family: 'MedievalSharp';
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(140, 94, 184);
$hover-color: #e5c50e;
$active-color: darkgoldenrod;
$border-color: black;
$border-radius: 50px;
$transition-duration: 0.3s;

.medievalsharp-regular {
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
    font-style: normal;
}

.button-style:hover:not(:active) {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-style:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

// Button Styles
.button-style {
    margin: 10px;
    padding: 10px;
    width: 20vw;
    font-size: 20px;
    background-color: $secondary-color;
    border: 3px solid $border-color;
    border-radius: $border-radius;
    font-family: $font-family;
    cursor: pointer;
    transition:
        transform $transition-duration,
        box-shadow $transition-duration,
        background-color $transition-duration;

    &:hover:not(:active) {
        transform: scale(1.1);
        background-color: $hover-color;
        box-shadow:
            0 0 10px $hover-color,
            0 0 20px $hover-color,
            0 0 30px $hover-color,
            0 0 40px $hover-color,
            0 0 50px $hover-color,
            0 0 60px $hover-color;
        animation:
            colorChange 1s infinite,
            pulse 1s infinite,
            shadowPulse 1s infinite;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 0 10px $hover-color,
            0 0 20px $hover-color,
            0 0 30px $hover-color,
            0 0 40px $hover-color,
            0 0 50px $hover-color,
            0 0 60px $hover-color;
    }

    &:active {
        transform: scale(0.9);
        background-color: $active-color;
        box-shadow: none;
        animation: none;
    }

    @keyframes colorChange {
        0% {
            background-color: $hover-color;
        }

        50% {
            background-color: $active-color;
        }

        100% {
            background-color: $hover-color;
        }
    }
}
