@import '../../global-files/global.scss';

.game-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

app-game-selection {
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }
}

.custom-slider-arrow {
    cursor: pointer;
    width: 4%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-slider-arrow:hover {
    transform: scale(1.08);
}

.game-list-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 90%;
}

#games-list {
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
}

#games-list::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.main-container {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
