<div class="player-list-container">
    <p>Nombre de joueurs dans salle: {{ playerList.length }}</p>
    @for(player of playerList; track $index){
    <div class="player-item">
        @if(player.avatar.length>8){
        <img [src]="'./assets/characters/' + player.avatar.slice(-2) + '.png'" />
        }@else{
        <img [src]="'./assets/characters/' + player.avatar.slice(-1) + '.png'" />
        }
        <span class="player-name">{{ player.name }}</span>
        @if(player.isVirtual){
        <span>(Virtuel)</span>
        } @if(player.isAdmin){
        <span>(Admin)</span>
        } @else if(!player.isAdmin && isUserAdmin) {
        <button (click)="deletePlayerEmitter(player.id)">Expulser</button>
        }
    </div>
    }
</div>
