@import '../../global-files/global.scss';

.main-container {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MedievalSharp', sans-serif;
}

h1,
p,
button {
    font-family: $font-family;
}

h1 {
    padding: 1%;
    font-family: 'MedievalSharp', sans-serif;
    text-align: center;
}

app-player-list,
app-chat {
    width: 50%;
    height: 30vw;
}

#player-data {
    display: flex;
    // justify-content: space-between;
    width: 100vw;
    align-items: center;
}

// Animations
@keyframes wiggle {
    0%,
    100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
