.logs-component-container {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    mat-card-header {
        display: flex;
        justify-content: center;
        .title-container {
            border: 2px solid white !important;
        }
    }
}

.logs-container {
    background-color: black;
    color: #fff;
    flex: 1;
    overflow: auto; /* Make the container scrollable if there are too many logs */

    .message {
        color: #fff;

        .log-date,
        .log-content {
            color: #fff;
        }
    }
}
