mat-grid-tile {
    background: lightblue;
    border: 3px solid gray;
    transition: transform 0.3s ease, border-color 0.3s ease;

    &:hover {
        border: 5px solid rgb(72, 243, 42);
        transform: scale(1.15);
        z-index: 1;
    }
}
.hovered-tile {
    border: 5px solid rgb(72, 243, 42);
    transform: scale(1.15);
    z-index: 1;
}



