@import '../../global-files/global.scss';

.main-container {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    text-align: center;

    font-family: 'MedievalSharp', sans-serif;
}

h1,
p,
button {
    font-family: $font-family;
}

.name-input {
    color: white;
    font-size: 16px;
    font-family: 'MedievalSharp', sans-serif;

    background-color: #2d2d2d;
    border: 2px solid #719eb8;
    border-radius: 25px;

    padding: 10px 15px;
    margin: 10px 0;

    width: 100%;
    max-width: 200px;
    height: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.name-input:hover {
    background-color: #1a1a1a;
    border-color: #284456;
}

.name-input::placeholder {
    color: #7f8c8d;
}

.input-name-container {
    width: 100%;
    text-align: center;
}

.name-input {
    color: white;
    font-size: 16px;
    font-family: 'MedievalSharp', sans-serif;

    background-color: #2d2d2d;
    border: 2px solid #719eb8;
    border-radius: 25px;

    padding: 10px 15px;
    margin: 10px 0;

    width: 100%;
    max-width: 200px;
    height: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.name-input:invalid {
    background-color: rgb(144, 47, 47);
}

.name-input:valid {
    background-color: #29974c;
}

.name-input:hover {
    background-color: #1a1a1a;
    border-color: #284456;
}

.name-input::placeholder {
    color: #7f8c8d;
}

.code-input {
    color: white;
    font-size: 16px;
    font-family: 'MedievalSharp', sans-serif;

    background-color: #2d2d2d;
    border: 2px solid #719eb8;
    border-radius: 25px;

    padding: 10px 15px;
    margin: 10px 0;

    width: 100%;
    max-width: 200px;
    height: 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.code-input:hover {
    background-color: #1a1a1a;
    border-color: #284456;
}

.code-input::placeholder {
    color: #7f8c8d;
}

button {
    margin: 10px;
    padding: 10px;
    width: 20vw;
    font-size: 20px;
    background-color: $secondary-color;
    border: 3px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    transition:
        transform $transition-duration,
        box-shadow $transition-duration,
        background-color $transition-duration;

    &:hover:not(:active) {
        transform: scale(1.1) rotate(10deg);
        background-color: $hover-color;
        box-shadow:
            0 0 10px $hover-color,
            0 0 20px $hover-color,
            0 0 30px $hover-color,
            0 0 40px $hover-color,
            0 0 50px $hover-color,
            0 0 60px $hover-color;
        animation:
            wiggle 0.5s ease-in-out infinite,
            colorChange 1s infinite,
            pulse 1s infinite,
            shadowPulse 1s infinite;
    }

    &:active {
        transform: scale(0.9);
        background-color: $active-color;
        box-shadow: none;
        animation: none;
    }

    @keyframes colorChange {
        0% {
            background-color: $hover-color;
        }
        50% {
            background-color: $active-color;
        }
        100% {
            background-color: $hover-color;
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes shadowPulse {
        0% {
            box-shadow: 0 0 10px $hover-color;
        }
        50% {
            box-shadow: 0 0 30px $hover-color;
        }
        100% {
            box-shadow: 0 0 10px $hover-color;
        }
    }
}
